<footer class="footer">
  <small>
    A user authentication Ruby on Rails test application</a>
    by <a href="http://www.petercavalot.com/">Peter Cavalot</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>